
nav ul,footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav li,footer li{
    padding: 2rem;
    list-style: none;
}

.link,.greeting,h1,h2{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.sideMenu li{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
h3,.sideMenu ul{
    padding-left: 10px;
    padding: 1rem;
}
.loremm{
    display: flex;
    flex-direction: row;
    font-size: x-large;

}
.sideMenu li{
    padding: auto  11px;
}
.movieImg{
    height: 500px;
    margin: auto 25rem;
}
.homePage{
width: 98vw;
height: 60vh;
}
